@page "/"
 
<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<p><a href="https://arcade.makecode.com" target="_blank">New tab/window test link.</a></p>

<BlazorApp.Client.Shared.SurveyPrompt Title="How is Blazor working for you?" />
